.carousel-box {
  height: 170px;
  border: 0px;
  background: #e3f2fd;
}

.image-wrapper > img {

  display: block;
  width:auto;
  height:170px;
  align-content: center;
}

.hcenter {
  -webkit-box-pack: center;
  justify-content: center;
}
